
{% extends 'joan/base.html' %}
{% load extras %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{{ feature.feature_text }}{% endblock %}</title>
</head>
<body>
  {% block pagecontent %}

<div class="container">
 <div class="row">
<h3>Feature:</h3>
<h2>{{ feature.feature_text }}</h2>

Release: {{ feature.release }} <br>
Project: {{ feature.project }} <br>
Module: {{ feature.feature_heading }} <br>
Status: {% show_status feature %}
</div>
<br>
<br>

<div class="container horizontal-scroll">
   <div class="row">
     <b>Related Requirements</b>
      <ul class="list-unstyled">
      {% for requirement in requirement_list %}
      <li> <a href="{% url 'joan:requirement' requirement.id %}"> {{ requirement }}</a></li>
      {% endfor %}
      </ul>
    </div>
   <a class="btn btn-info" href="{% url 'joan:project' feature.project.id %}">Home</a>
</div>

{% endblock %}
</body>
</html>
