
{% extends 'joan/base.html' %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Projects{% endblock %}</title>
</head>
<body>
  {% block pagecontent %}
<div class="container">

<h2>Projects</h2>


{% if latest_project_list %}
    <ul>
    {% for project in latest_project_list %}
        <li><a href="{% url 'joan:project' project.id %}">{{ project.project_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No projects are available.</p>
{% endif %}
</div>
{% endblock %}
</body>
</html>
