{% load static %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<link rel="stylesheet" type="text/css" href="{% static 'joan/style.css' %}" />
<div class="container">

<h2>{{ project.project_name }}</h2>

Releases: {{ project.release_set.count }}  <br>
Project Start: {{ project.project_start_date }}  <br>
Project End: {{ project.project_end_date}}
</div>
<br>
<br>

<div class="container horizontal-scroll">
   <div class="row">
    <ul class="list-unstyled">
    {% for release in project.release_set.all %}
     <div class="col-xs-4">
      {{ release }}
        {% for requirement in release.requirement_set.all %}
        <li><small>{{ requirement }}</small></li>
        {% endfor %}
        <br>
      </div>
    {% endfor %}
    </ul>
    </div>
</div>

<div class="container horizontal-scroll">
   <div class="row">
    <ul class="list-unstyled">
    {% for release in project.release_set.all %}
     <div class="col-xs-4">
      {{ release }}
        {% for requirement in release.requirement_set.all %}
          {% for feature in requirement.feature_set.all %}
          <li><small>{{ feature }}</small></li>
          {% endfor %}
        {% endfor %}
        <br>
      </div>
    {% endfor %}
    </ul>
    </div>
</div>
