
{% extends 'joan/base.html' %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{{ project.project_name }}{% endblock %}</title>
</head>
<body>
  {% block pagecontent %}

<div class="container">
  <h2>{{ project.project_name }}</h2>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading" >
            Today is
            <h4><b>{% now "l - F d, Y"  %}</b></h4>
        </div>
        <div class="panel-body">
            <small><em>Current Sprint: </em></small> <a href="{% url 'joan:sprint' current_sprint.id %}">{{ current_sprint }}</a>
            <small><em> - {{ sprint_man_days_left }} man-days left! </em></small><br>

            <small><em>Current Release: </em></small> <a href="{% url 'joan:release' current_sprint.release.id %}">{{ current_sprint.release }}</a>
            <small><em> - {{ release_man_days_left }} man-days left until UAT! </em></small><br>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body">
            <b>{{ project.project_name }}</b> <br>
            <b>{{ project.project_company}}</b> <br>
            <b>{{ project.project_start_date }}</b> <em>(Project Start)</em><br>
            <b>{{ project.project_end_date}}</b><em>(Project End)</em><br>
            <em>{{ project.project_description}} </em><br>
        </div>
      </div>
    </div>

</div> <!--end row-->

  <div class="row">

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading" >
          In Numbers
        </div>
        <div class="panel-body">
          Requirements Met: {{ requirements_met_count }} out of {{ project.requirement_set.count }} (33%)<br>
          Features Met: {{ features_done_count }} out of {{ features_count }} ({{ features_done_percentage }}) <br>
          <hr>
          Use Cases Done: 30 out of {{ features_count }} (100%)<br>
          For Functional Validation: 3 out of {{ features_count }} (10%) <br>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading" >
          Call to Action
        </div>
        <div class="panel-body text-center">
          <a class href="{% url 'joan:requirements_list' project.id %}">View All Requirements <span class="badge">{{project.requirement_set.count}}</span></a>
          <a class="btn btn-info" href="{% url 'joan:features_list' project.id %}">View All Use Cases <span class="badge">{{ features_count }}</span></a>
          <button class="btn btn-warning">View Release 1</button>
        </div>
      </div>
    </div>

  </div> <!--end row-->
  </div><!--end container-->


<div class="container horizontal-scroll">

</div>

<hr>

<div class="container horizontal-scroll">

<h4> Sprints</h4>

<table class="table table-striped table-bordered">
  <tr>
    <th> Release-Sprint</th>
    <th> Start Date</th>
    <th> End Date</th>
    <th> Tickets </th>
    <th> Mandays to go!</th>
    <th> Status</th>
  </tr>


  {% for sprint in sprint_list %}
  {% if sprint.sprint_status == 'AC' %}
  <tr style="background: #f4e495">
  {% else %}
  <tr style="background: #aaa; font-style: italic; color: #444; font-style: strikethrough">
  {% endif %}
    <td><a href="{% url 'joan:sprint' sprint.id %}">{{ sprint }}</a></td>
    <td>{{ sprint.sprint_start_date }}</td>
    <td>{{ sprint.sprint_end_date }}</td>
    <td> 1 </td>
    <td> 10 mandays </td>
    <td>{{ sprint.get_sprint_status_display}} </td>
  </tr>

  {% endfor %}

</table>
</div>
<hr>



{% endblock %}
</body>
</html>
