{% extends 'joan/base.html' %}
{% load extras %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}{{ release }}{% endblock %}</title>
</head>

<body>
  {% block pagecontent %}

  <div class="container">

    <div class="pull-right" style="color: red">
      must be able to: <br> fix styling! <br> (form) update status on the spot <br> (form) add informal release notes <br> (form) generate official release notes in pdf/word <br>
    </div>

    <h2>{{ release }}</h2> Project: <a href="{% url 'joan:project' release.project.id %}">{{ release.project }}</a> <br>
    <br> Target Date: {{ release.release_target_date }} <br> UAT Start Date: {{ release.release_uat_start_date }} <br> UAT End Date: {{ release.release_uat_end_date }} <br> Details: {{ release.release_details }} <br>
  </div>
  <br>
  <br>



  <div class="container">
    <h4>Requirements Traceability Matrix</h4>

    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                      Collapsible Group Item #1
                  </a>
              </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">

          </div>
        </div>
      </div>
    </div>


  </div>
  </div>

  </div>

  <div class="container horizontal-scroll">
{% show_rtm requirement_list %}
    <b>Related Features</b>
    <ul class="list-unstyled">

      {% for feature in release.feature_set.all %}
      <li><small><a href="{% url 'joan:feature' feature.id %}">{{ feature }}</a></small></li>

      {% endfor %}

      <br>
    </ul>



  </div>

  <a class="btn btn-info" href="{% url 'joan:project' release.project.id %}">Home</a>
  </div>



  {% endblock %}
</body>

</html>
