{% extends 'joan/base.html' %}
{% load extras %}



<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{{  release  }}{% endblock %}</title>




</head>

<body>
  {% block pagecontent %}

<div class="container">
<br>
  <div class="row">

    <div class="col-sm-4">
      <div class="panel module">
        <h4>{{ release.project }}</h4>
        <div class="panel-body">
        <small><span class="glyphicon glyphicon-link" aria-hidden="true"></span> <a href="{% url 'joan:project' release.project.id %}">View Project Dashboard</a></small><br>
      <small><span class="glyphicon glyphicon-link" aria-hidden="true"></span> <a href="{% url 'joan:requirements_list' release.project.id %}">View All Requirements</a></small><br>
        <small><span class="glyphicon glyphicon-link" aria-hidden="true"></span> <a href="{% url 'joan:features_list' release.project.id %}">View All Features</a></small>
      </div><!--end panel body-->
      </div><!--panel-->
    </div><!--col-end-->

    <div class="col-sm-8">
      <div class="panel module">

        <div class="row">
          <div class="col-sm-12">
          <h4>Release {{ release.release_name }} &nbsp; <span class="text-right"><small>{{ release.release_details }}</small></span> </h4>
          </div>
        </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-3 text-center">
                  <div class="btn">
                    <a href="" data-toggle="tooltip" data-html="true" title="  {{release.release_target_date|count_business_days }}" style="cursor: pointer">{{ release.release_target_date|date:"l - M d, Y" }}</a> <br>
                    <small>Target Launch</small>
                  </div>


              </div><!--end tidbit info-->

              <div class="col-sm-3 text-center">
                <div class="btn">
                  <a href="" data-toggle="tooltip" data-html="true" title="  {{release.release_uat_start_date|count_business_days }}" style="cursor: pointer">{{ release.release_uat_start_date|date:"l - M d, Y" }}</a> <br>
                  <small>UAT Start Date</small>

                </div>
              </div><!--end tidbit info-->


              <div class="col-sm-3 text-center">
                <div class="btn">
                  <a href=""  data-toggle="tooltip" data-html="true" title="  {{release.release_uat_end_date|count_business_days }}" style="cursor: pointer">{{ release.release_uat_end_date|date:"l - M d, Y" }}</a> <br>
                  <small>UAT End Date</small>
                </div>
              </div><!--end tidbit info-->

              <div class="col-sm-3 text-center">
                  <div class="btn">
                            <strong>Ongoing</strong>
                    <br><small>Status</small>
                  </div>
              </div> <!--end tidbit info-->


            </div><!--row-->

          </div> <!--end panel body-->
      </div><!--panel-->
    </div><!--col-end-->

  </div> <!--row-->

</div>



<div class="container">

  <div class="panel-group" id="accordion">
    <div class="panel panel-default"> <!--Related Sprint-->
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    Sprints <div class="pull-right">{{ done_sprint_list.count }} out of {{ release.sprint_set.count }} allocated sprints done</div>
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                 <table class="table table-bordered">
                   <tr>
                     <th>Release-Sprint</th>
                     <th>Start Date</th>
                     <th>End Date</th>
                     <th>Tickets </th>
                     <th>Work days</th>
                     <th> Status</th>
                   </tr>
                   {% for sprint in sprint_list %}
                   {% if sprint.sprint_status == 'AC' %}
                   <tr class="current-tr">
                   {% else %}
                   <tr class="done-tr">
                   {% endif %}
                     <td><a href="{% url 'joan:sprint' sprint.id %}">{{ sprint }}</a></td>
                     <td>{{ sprint.sprint_start_date|date:"l - M d, Y" }}</td>
                     <td>{{ sprint.sprint_end_date|date:"l - M d, Y" }}</td>
                     <td> {{ sprint.ticket_set.count }}</td>
                     <td> {{ sprint.sprint_end_date|count_business_days}}</td>
                     <td>{{ sprint.get_sprint_status_display}} </td>
                   </tr>

                   {% endfor %}

                 </table>
             </div><!--end panel-body-->
        </div>
    </div><!--Sprint-->
    <div class="panel panel-default"> <!--RTM-->
          <div class="panel-heading">
              <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                      Requirements Traceability Matrix <div class="pull-right">{{ done_requirement_list.count}} out of {{ requirement_list.count}} requirements done</div>
                  </a>
              </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
              <div class="panel-body">
                <table class="table table-bordered">
                  <tr>
                    <th> ID </th>
                    <th> Requirement <div class="pull-right"><span class="badge">{{ requirement_list.count}}</a></div></th>
                    <th> Feature <div class="pull-right"><span class="badge">{{ release.feature_set.count}}</a></div></th>

                  </tr>
                  {% for requirement in requirement_list %}

                  {% if requirement in done_requirement_list %}
                  <tr class="done-tr">
                      {% else %}
                  <tr>
                    {% endif %}
                        {% if requirement.with_reqd_id %}
                        <td><a href="{% url 'joan:requirement' requirement.id %}">{{ requirement.reqd_id }}</a></td>
                        {% endif %}

                        <td class="col-md-6"><a href="{% url 'joan:requirement' requirement.id %}">{{ requirement }}</a></td>

                        {% if requirement.feature_set.count == 0 %}
                        <td></td>
                        {% else %}

                        <td style="padding: 0" class="col-md-6">


                          <table class="table table-borderless" style="margin-bottom:0;">

                            {% for feature in requirement.feature_set.all %} {% if feature.release.id is release.id %}
                            {% if requirement in done_requirement_list %}
                            <tr class="table-borderless done-tr">
                            {% else %}
                            <tr class="table-borderless">
                            {% endif %}

                              <td class="col-md-10"><small><small><a href="{% url 'joan:feature' feature.id %}">{{ feature }}</a><small></small></td>
                              <td class="col-md-2">{% show_status feature %}</td>
                            </tr>
                            {% endif %} {% endfor %}
                          </table>
                        </td>
                        {%  endif %}


                  </tr>

                  {% endfor %}
                </table>
              </div>
          </div>
      </div><!--RTM-->
    <div class="panel panel-default"> <!--Related Features-->
          <div class="panel-heading">
              <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                      Related Features <div class="pull-right">{{ done_feature_list.count }} out of {{ release.feature_set.count }} features done</div>
                  </a>
              </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
               <div class="panel-body">
                  <table class="table table-bordered">
                    <tr>
                      <th> Feature</th>
                      <th> Ticket Count</th>
                      <th> Sprint</th>
                    </tr>
                    {% for feature in release.feature_set.all %}
                    {% if feature.feature_status == 'DO' %}
                      <tr class="done-tr">
                    {% else %}
                      <tr>
                    {% endif %}
                        <td>
                           <a href="{% url 'joan:feature' feature.id %}"> {{ feature }}</a>
                        </td>
                        <td>{{ feature.ticket_set.count }}</td>
                        <td>
                          {% for ticket in feature.ticket_set.all %}
                            <a href="{% url 'joan:sprint' ticket.sprint.id %}">{{ticket.sprint}}</a>
                          {% endfor %}

                        </td>
                      </tr>
                    {% endfor %}

                  </table>

              </div><!--end panel-body-->
          </div>
      </div><!--Related Features-->

  </div><!--end accordion panel-->


    <a class="btn btn-info" href="{% url 'joan:project' release.project.id %}">Home</a>
</div>

</div>

{% endblock %}
</body>
</html>
