{% extends 'joan/base.html' %}
{% load extras %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{{ project.project_name }} | All Requirements {% endblock %}</title>
</head>
<body>
  {% block pagecontent %}

<div class="container">

  <h2>All Requirements</h2> Project: <a href="{% url 'joan:project' project.id %}">{{ project }}</a> <br> Requirement Count: {{ project.requirement_set.count }}
  <br> <br>
  <div class="container horizontal-scroll">
    <div class="row">
        <h4>Requirements Traceability Matrix</h4>

      <table class="table table-bordered">
        <tr>
          <th> ID </th>
          <th> Requirement</th>
          <th> Feature</th>

        </tr>
        {% for requirement in project.requirement_set.all %}

        <tr>
          {% if requirement.with_reqd_id %}
            <td><small><a href="{% url 'joan:requirement' requirement.id %}">{{ requirement.reqd_id }}</a></small></td>
          {% endif %}
            <td class="col-md-6"><small><a href="{% url 'joan:requirement' requirement.id %}">{{ requirement }}</a></small></td>
          {% if requirement.feature_set.count == 0 %}
            <td></td>
          {% else %}
            <td style="padding: 0" class="col-md-6">

              <table class="table table-borderless" style="margin-bottom:0;">
                {% for feature in requirement.feature_set.all %}
                <tr>
                  <td class="col-md-8"><small><small><a href="{% url 'joan:feature' feature.id %}">{{ feature }}</a><small></small></td>
                  <td class="col-md-2"><small><small><a href="">{{ feature.release }}</a><small></small></td>
                  <td class="col-md-2">
                  {% show_feature_status feature %}
                  </td>
                </tr>
                  {% endfor %}
              </table>
            </td>
          {% endif %}
        </tr>
        {% endfor %}

      </table>

    </div>
</div>






  <a class="btn btn-info" href="{% url 'joan:project' project.id %}">Home</a>


</div>

{% endblock %}
</body>
</html>
