{% load static %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<link rel="stylesheet" type="text/css" href="{% static 'joan/style.css' %}" />
<div class="container">

<h2>All Requirements</h2>

Project: <a href="{% url 'joan:project' project.id %}">{{ project }}</a> <br>
<br>

  <a class="btn btn-info" href="{% url 'joan:project' project.id %}">Home</a>
</div>
