
{% extends 'joan/base.html' %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{{  requirement.requirement_heading }}{% endblock %}</title>
</head>
<body>
  {% block pagecontent %}


<div class="container">
   <div class="row">
<h3>Business Requirement:</h3>
<h2>{{ requirement.requirement_heading }}</h2>

Release: {{ requirement.project.release }}  <br>
Project: <a href="{% url 'joan:project' requirement.project.id %}">{{ requirement.project }}</a> <br>
<br>
BR Number: {{ requirement.reqd_id }}<br>
Details:
{% for line in requirement.requirement_text.splitlines %}
<p><em><small>{{ line }}</small></em></p>
{% endfor %}
</div>
</div>
<br>
<br>

<div class="container horizontal-scroll">
   <div class="row">
      <b>Related Features</b>
      <ul class="list-unstyled">
      {% for feature in requirement.feature_set.all %}
      <li> <a href="{% url 'joan:feature' feature.id %}"> {{ feature }}</a></li>
      {% endfor %}
      </ul>
    </div>

</div>
<hr>

<a class="btn btn-info" href="{% url 'joan:project' requirement.project.id %}">Project</a>

<a class="btn btn-success" href="{% url 'joan:requirements_list' requirement.project.id %}">All Requirements</a>



{% endblock %}
</body>
</html>
