{% extends 'joan/base.html' %} {% load extras %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %} {{ sprint }} {% endblock %}</title>
</head>

<body>
  {% block pagecontent %}
  <div class="container">
  <br>
    <div class="row">

      <div class="col-sm-4">
        <div class="panel module">
          <h4>{{ sprint.project }}</h4>
          <div class="panel-body">
          <small><span class="glyphicon glyphicon-link" aria-hidden="true"></span> <a href="{% url 'joan:project' sprint.release.project.id %}">View Project Dashboard</a></small><br>
        <small><span class="glyphicon glyphicon-link" aria-hidden="true"></span> <a href="{% url 'joan:requirements_list' sprint.release.project.id %}">View All Requirements</a></small><br>
          <small><span class="glyphicon glyphicon-link" aria-hidden="true"></span> <a href="{% url 'joan:features_list' sprint.release.project.id %}">View All Features</a></small>
        </div><!--end panel body-->
        </div><!--panel-->
      </div><!--col-end-->

      <div class="col-sm-8">
        <div class="panel module">

          <div class="row">
            <div class="col-sm-12">
            <h4> {{ sprint }} &nbsp; </h4>
            </div>

            <div class="panel-body">

              <div class="row">


                              <div class="col-sm-3 text-center">
                                  <div class="btn">
                                    <span style="font-size: 2em">{{ all_features.count }}</span><br>
                                    <small>Features</small>
                                  </div>
                              </div><!--end tidbit info-->


                              <div class="col-sm-3 text-center">
                                <div class="btn">
                                  <a href="" data-toggle="tooltip" data-html="true" title="  {{sprint.sprint_start_date|count_business_days }}" style="cursor: pointer">{{ sprint.sprint_start_date|date:"l - M d, Y" }}</a> <br>
                                  <small>Start Date</small>

                                </div>
                              </div><!--end tidbit info-->


                              <div class="col-sm-3 text-center">
                                <div class="btn">
                                  <a href=""  data-toggle="tooltip" data-html="true" title="  {{sprint.sprint_end_date|count_business_days }}" style="cursor: pointer">{{ sprint.sprint_end_date|date:"l - M d, Y" }}</a> <br>
                                  <small>End Date</small>
                                </div>
                              </div><!--end tidbit info-->

                              <div class="col-sm-3 text-center">
                                  <div class="btn">
                                    <strong>{{ sprint.get_status_display}}</strong>
                                    <br>
                                        {% if sprint.is_accepted %}
                                          <small><span style="color: green">Accepted</span></small>
                                        {% else %}
                                          <small><span style="color: red">With Open Items</span></small>
                                        {% endif %}

                                  </div>
                              </div> <!--end tidbit info-->

                            </div><!--row-->

              <hr>

              <div class="row">

                <div class="col-sm-3 text-center">
                  <div class="btn">
                    <span style="font-size: 2em">{{ sprint.ticket_set.count }}</span><br>
                    <small>Tickets</small>
                  </div>
                </div><!--end tidbit info-->

                <div class="col-sm-3 text-center">
                  <div class="btn">
                    <span style="font-size: 2em">{{in_progress_tickets.count }}</span><br>
                    <small>In Progress</small>
                  </div>
                </div><!--end tidbit info-->

                <div class="col-sm-3 text-center">
                    <div class="btn">
                      <span style="font-size: 2em">{{ for_fv_tickets.count  }}</span><br>
                      <small>For FV</small>
                    </div>
                </div><!--end tidbit info-->

                <div class="col-sm-3 text-center">
                    <div class="btn">
                      <span style="font-size: 2em">{{ done_tickets.count }}</span><br>
                      <small>Done</small>
                    </div>
                </div><!--end tidbit info-->

              </div><!--row-1-->
      </div> <!--end panel body-->
        </div><!--panel-->
      </div><!--col-end-->

    </div> <!--row-->

  </div>

  <div class="container">

    <br>

    {% if sprint.ticket_set.all %}
    <table class="table table-bordered">
      <tr>
        <th> Ticket Name</th>
        <th> Features</th>
        <th> DEN ID </th>
        <th> Dev Assigned </th>
        <th> Status</th>

      </tr>
      {% for ticket in sprint.ticket_set.all %}
      <tr>
        <td>{{ ticket.ticket_text }}</td>
        <td>
            {% for feature in ticket.features.all %}
            <a href="{% url 'joan:feature' feature.id %}"> {{ feature.id }} </a>
            {% endfor %}
        </td>
        <td><a href="{{ ticket.ticket_url}}" target="_blank">{{ ticket.ticket_id }}</a></td>
        <td>{{ ticket.dev_assigned }}</td>
        <td>{% show_status ticket %}</td>

      </tr>
      {% endfor %}
    </table>
    {% else %} No tickets! {% endif %}
  </div>


  <a class="btn btn-info" href="{% url 'joan:project' sprint.project.id %}">Home</a>

  </div>
  {% endblock %}

</body>

</html>
