{% extends 'joan/base.html' %} {% load extras %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %} {{ sprint }} {% endblock %}</title>
</head>

<body>
  {% block pagecontent %}

  <div class="pull-right">
    must be able to: <br>
    view related features (and maybe related requirement)<br>
    update status on the spot <br>
    (nice to have) update logs <br>
    generate report status/retrospective per sprint <br>
  </div>
  <div class="container">


    {{ sprint.project }} <br>
    {{ sprint.release }} <br>
    {{ sprint.sprint_start_date}} <br>
    {{ sprint.sprint_end_date}} <br>
    {{ sprint.sprint_status}} <br>

    <br>

    {% if sprint.ticket_set.all %}
    <table class="table table-bordered">
      <tr>
        <th> Ticket Name</th>
        <th> DEN ID </th>
        <th> Dev Assigned </th>
        <th> Status</th>
      </tr>
      {% for ticket in sprint.ticket_set.all %}
      <tr>
        <td>{{ ticket.ticket_text }}</td>
        <td><a href="{{ ticket.ticket_url}}" target="_blank">{{ ticket.ticket_id }}</a></td>
        <td>{{ ticket.dev_assigned }}</td>
        <td>{{ ticket.get_ticket_status_display }}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %} No tickets! {% endif %}
  </div>


  <a class="btn btn-info" href="{% url 'joan:project' sprint.project.id %}">Home</a>
  {% endblock %}

</body>

</html>
