body {
/*background: white url("images/texturetastic_gray.png") repeat right bottom; */
  background: #E6ECF0;
  }
}

li a {
    color: green;
}

.panel{
  border-radius: 0;
  border: none;
}

.panel .panel-default{
  border-radius: 0;
}

.module {
  padding: 20px 15px 15px 15px;

}
/* horizontal scroll */
.horizontal-scroll > .row {
  overflow-x: auto;
  white-space: nowrap;
}
.horizontal-scroll > .row > .col-xs-4 {
  display: inline-block;
  float: none;
}


.word-wrap {
    /*white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}

.table-borderless tr:first-child td{
  border-top: none!important
}

.table tr{
  font-size: 0.9em;
}
